<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1><%= @post.id %>번 째 게시물을 수정합니다.</h1>
    <form action="/posts/update/<%= @post.id %>" method="post">
        <p>제목</p>
        <input type="text" name="input_title" value="<%= @post.title %>">
        <p>내용</p>
        <input type="text" name="input_content" value="<%= @post.content %>"><br>
        <input type="submit" value="제출">
    </form>
    
    <h4><a href="/">목록으로</a></h4>
</body>